body {
    background-color: rgba(92, 106, 195, 255);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

img {
    width: 500px;
}

p {
    
}